@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
    height: 100%;
    width: 101%;
    margin: 0;
}

html {
    height: 100%;
    width: 99%;
}

.map {
    height: calc(94.3% - 40px);
    width: 100%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .ulmenu{
    margin-bottom: auto;
    padding-left: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(153, 153, 153);
  }

  .jsPanel-depth-3{
    text-align: -webkit-center;
    min-inline-size: fit-content;
  }
  #form {
    width: 40vw;
    margin-top: 15px;
    margin-left: 10px;
    justify-content: center;
    
  }

  .input-box {
    position: relative;
    margin: 10px 0;
  }
  
  .input-box input:focus {
    outline: 0;
    border-color: #777;
  }
  
  .input-box.success input {
    border-color: var(--success-color);
  }
  
  .input-box.error input {
    border-color: var(--error-color);
  }
  
  .input-box small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .input-box.error small {
    visibility: visible;
  }

  .input-label1 {
    color: #80868b;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    
  }
  .input-label2 {
    color: #80868b;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    
  }
  .input-label3 {
    color: #80868b;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    
  }
  .input-1 {
    box-sizing: border-box;
    height: 50px;
    width: 48%;
    border-radius: 9px;
    color: #80868b;
    border:  1px solid #dadce0;
    padding: 13px 15px;
    transition: 250ms;
  }
  .input-1:focus {
    outline: none;
    border: 2px solid #1a73e8;
    transition: 250ms;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

  .textarea-1{
    width: 48%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  }

  .btn {
    margin-left: 130px;
    background: #fff;
    color: #333;
    cursor: pointer;
    border: none;
    white-space: normal;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 20px;
    min-width: 88px;
    transition: 250ms;
  }
  .btn:hover {
    background:  #ddd;
    transition: 250ms;
  }
  .btn:focus {
    outline: none;
  }
  .btn-primary1{
    background: #0d6efd ;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    white-space: normal;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 20px;
    min-width: 88px;
    transition: 250ms;
  }
  .btn-primary1:hover{
    background: #1554b3;
  }
  .btn-primary1:disabled {
    color: #a2a5a9;
    border-color: #c9ced3;
    background-color: #f2f2f2;
    cursor: text;
}
  .btn-primary2{
    background: #fd0d0d ;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    white-space: normal;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 20px;
    min-width: 88px;
    transition: 250ms;
  }
  .btn-primary2:hover{
    background: #b31515;
  }

  
  .button1 {
    background: #fff;
    color: #333;
    cursor: pointer;
    border: none;
    white-space: normal;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 20px;
    min-width: 88px;
    transition: 250ms;
  }
  .button1:hover {
    background:  #ddd;
    transition: 250ms;
  }
  .button1:focus {
    outline: none;
  }
  
  .button2 {
    background: #fff;
    color: #333;
    cursor: pointer;
    border: none;
    white-space: normal;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    line-height: 20px;
    min-width: 88px;
    transition: 250ms;
  }
  .button2:hover {
    background:  #ddd;
    transition: 250ms;
  }
  .button2:focus {
    outline: none;
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

table { 
	width: 150px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #207d34; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}
  /* table.dataTable.no-footer{
    padding-bottom: 290px;
  } */

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}
  

}